<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.erp.dao.ErpMainGoodsDao">

    <resultMap id="ErpMainGoodsVO"
               type="net.lab1024.smartadmin.module.business.erp.domain.vo.ErpMainGoodsVO"></resultMap>
    <resultMap id="ErpMainGoodsExcelVO"
               type="net.lab1024.smartadmin.module.business.erp.domain.vo.ErpMainGoodsExcelVO"></resultMap>


    <select id="queryByPage" resultMap="ErpMainGoodsVO">
        select
        id,
        create_time,
        create_user,
        update_time,
        update_user,
        advantages,
        shelf_layers
        from t_erp_main_goods
        <where>
            <if test="queryDTO.id != null and queryDTO.id != ''">
                AND INSTR(id,#{queryDTO.id})
            </if>
        </where>
    </select>

    <select id="queryAllExportData" resultMap="ErpMainGoodsExcelVO">
        select
        id,
        create_time,
        create_user,
        update_time,
        update_user,
        advantages,
        shelf_layers
        from t_erp_main_goods
        <where>
            <if test="queryDTO.id != null and queryDTO.id != ''">
                AND INSTR(id,#{queryDTO.id})
            </if>
        </where>
    </select>

    <select id="queryBatchExportData" resultMap="ErpMainGoodsExcelVO">
        select
        id,
        create_time,
        create_user,
        update_time,
        update_user,
        advantages,
        shelf_layers
        from t_erp_main_goods
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <delete id="deleteById">
        delete
        from t_erp_main_goods
        where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from t_erp_main_goods where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>